<%- include('header') %>

<div class="ui grid">
 
    <div class="eight wide column">
        <form class="ui form segment" method="post" action="/list/<%= msg._id %>/edit">
            <div class="field required">
                <label>命令</label>
                <input type="text" name="command" value="<%= msg.command %>">
            </div>
            <div class="field required">
                <label>描述</label>
                <input type="text" name="descripition" value="<%= msg.descripition %>">
            </div>
            <div class="field required">
                <label>内容</label>
                <textarea name="content" rows="15"><%= msg.content %></textarea>
            </div>
            <input type="submit" class="ui button" value="确定">
    </div>
    </form>
</div>

<%- include('footer') %>

